$font-main: "Poppins", sans-serif;
$font-sub: "Inter";
$font-note: "Miniver";
$title-color: #333;
$sub-color: #195a00;
$desc-color: #4f4f4f;
$page-color: #fff;
$logo-sub-color: #ff9f0d;
$placeholder-color: #bdbdbd;
$desc-color-sub: #828282;
$border-color: #bebebe7f;
$after-color: #e0e0e0;
