// Main hero
.main__hero {
  padding: 0 200px 140px 200px;
  gap: 190px;
}
// Main hero left
.span-form {
  color: $sub-color;
  font-family: $font-note;
  font-size: 18px;
  line-height: 2.6;
  position: relative;
  &::before {
    content: "";
    bottom: 30%;
    right: -30%;
    position: absolute;
    width: 2.7rem;
    height: 0.1rem;
    border-radius: 6px;
    background: $sub-color;
  }
}
.main__hero-left {
  margin-top: 150px;

  h1 {
    // white-space: nowrap;
    margin-top: 8px;
    color: $title-color;
    font-family: $font-main;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    word-spacing: 5px;
    img {
      position: absolute;
      bottom: -15%;
    }
  }

  p {
    margin-top: 32px;
    color: $desc-color;
    font-family: $font-sub;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .main__button {
    margin-top: 31px;
  }
}
.main__button-show:hover,
.main__button-place:hover {
  background: #fff;
  color: $sub-color;
  font-family: $font-sub;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
// Main hero right

.main__hero-right {
  position: relative;
  .picture-main {
    width: 600;
    height: 565px;
  }
  .pic-top,
  .pic-mid,
  .pic-bottom {
    position: absolute;
    z-index: -1;
  }
  .pic-top {
    top: -5%;
    left: -20%;
  }
  .pic-mid {
    bottom: -12%;
    left: -25%;
  }
  .pic-bottom {
    bottom: -25%;
    left: 18%;
  }
}

// Main about us
.main__about-us {
  margin-top: 130px;
  padding-left: 200px;
  padding-right: 200px;
  gap: 80px;
  //// Main about us left
  .about-us--left {
    gap: 24px;
    .about-us__image--sub {
      margin-top: 35px;
      flex-direction: column;
      gap: 27px;
    }
  }
  //// Main about us right
  .about-us--right {
    margin-top: 130px;

    h2 {
      margin-top: 8px;
      color: $title-color;
      font-family: $font-main;
      font-size: 4.2rem;
      font-weight: 700;
      line-height: 1;
      word-spacing: 3px;
    }
    p {
      margin-top: 32px;
      color: $desc-color;
      font-family: $font-sub;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    button {
      background: $sub-color;
      color: #fff;
      &:hover {
        background: #fff;
        color: $sub-color;
        font-family: $font-sub;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.6;
        border-radius: 6px;
        transition: background-color 0.3s ease;
      }
    }
    .about-us__btn {
      margin-top: 33px;
      align-items: center;
      gap: 16px;
    }
    .about-us__btn--watch {
      gap: 10px;
      align-items: center;
      a {
        color: $title-color;
        font-family: $font-sub;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.4;
      }
      img {
        cursor: pointer;
      }
    }
  }
}

// Main foot category
.main__foot-category {
  margin-top: 160px;
  padding-left: 200px;
  padding-right: 200px;
  // pding btommm
  // padding-bottom: 100px;
  h2 {
    color: $title-color;
    font-family: $font-main;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  p {
    margin-top: 15px;
    color: $desc-color;
    text-align: center;
    font-family: $font-sub;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  ul {
    position: relative;
    margin-top: 55px;
    gap: 24px;
    .hover {
      display: none;
    }
    .foot-category--right,
    .foot-category--left {
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 54px;
      height: 54px;
      border-radius: 4px;
      background: rgba(25, 90, 0, 0.3);
    }
    .foot-category--left {
      position: absolute;
      top: 33%;
      left: -7%;
      &:hover {
        .integral {
          display: none;
        }
        .hover {
          display: block;
        }
        border-radius: 4px;
        background: $sub-color;
      }
    }
    .foot-category--right {
      position: absolute;
      top: 33%;
      right: -7%;
      &:hover {
        .integral {
          display: none;
        }
        .hover {
          display: block;
        }
        border-radius: 4px;
        background: $sub-color;
      }
    }
  }

  h3 {
    margin-top: 16px;
    color: $desc-color;
    font-family: $font-main;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  span {
    display: flex;
    justify-content: center;
    color: $desc-color;
    margin-top: 16px;
    font-family: $font-main;
    font-size: 1.6rem;
  }
}

// ---------Main why choose us------------
.main__wcu {
  padding: 0 200px;
  padding-bottom: 100px;
  margin-top: 120px;
  gap: 280px;
  .main__wcu-img {
    position: relative;
    .abso-img {
      position: absolute;
      top: 15%;
      right: -67%;
    }
  }
  .main__wcu-desc {
    margin-top: 50px;

    h2 {
      color: $title-color;
      font-family: $font-main;
      font-size: 4.2rem;
      font-weight: 700;
      line-height: 5.6rem;
    }
    p {
      color: $desc-color;
      font-family: $font-sub;
      font-size: 1.6rem;
      line-height: 24px;
    }
    .desc-top {
      margin-top: 20px;
    }
    .desc-bot {
      margin-top: 8px;
    }
  }
}

.wcu__advantage-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin-top: 20px;
  .wcu__advantage-items {
    padding: 5px 20px 0 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
    // justify-content: center;
    gap: 20px;
    align-items: center;
    span {
      color: $desc-color;

      font-family: $font-main;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5;
    }
  }
}
