/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "./vendor/gris.css";
html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 1680px;
}

.main__button {
  gap: 16px;
}

.btn {
  color: #fff;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6;
  background-color: #195a00;
  border: 1px solid #195a00;
  border-radius: 6px;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.btn-food-menu {
  width: 150px;
  height: 50px;
  background-color: #fff;
  border: 1px solid green;
  color: #195a00;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}

.btn-about-food-menu {
  background-color: #fff;
  border: 1px solid #ff9f0d;
  color: #ff9f0d;
}

.btn-small {
  padding: 10px;
  width: 205px;
  height: 58px;
}

.btn-medium {
  padding: 10px;
  width: 222px;
  height: 58px;
}

.d-flex {
  display: flex;
}

.home__header {
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 40px 200px;
  z-index: 99;
}
.home__header .home__header-icon {
  z-index: 99;
  gap: 16px;
}
.home__header .home__header-icon .icon-form {
  font-size: 16px;
}
.home__header .home__header-nav {
  margin-right: 300px;
  gap: 32px;
}
.home__header .home__header-nav a {
  display: inline-block;
  color: #333;
  font-family: "Inter";
  font-size: 1.6em;
  line-height: 2.4;
  position: relative;
  text-align: center;
}
.home__header .home__header-nav a:hover {
  font-weight: 700;
  text-shadow: 0.1px 0 0 currentColor;
}
.home__header .home__header-nav a::before {
  content: attr(title);
  display: block;
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.home__header .home__header-nav a::after {
  content: "";
  background: #195a00;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.home__header .home__header-nav a:hover::after {
  width: 24px;
}

.header-form {
  width: 100%;
  max-width: 1920px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 30px 200px;
  background-color: #fff;
  z-index: 99;
  background: #0d0d0d;
}
.header-form .logo {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 32px;
}
.header-form .logo span {
  color: #ff9f0d;
  font-family: "Poppins", sans-serif;
}
.header-form .header-icon {
  z-index: 99;
  gap: 16px;
}
.header-form .header-icon .icon-form {
  font-size: 16px;
}
.header-form .header-nav {
  gap: 32px;
}
.header-form .header-nav a {
  color: #fff;
  display: inline-block;
  font-family: "Inter";
  font-size: 1.6em;
  line-height: 2.4;
  position: relative;
  text-align: center;
}
.header-form .header-nav a:hover {
  font-weight: 700;
  color: #ff9f0d;
}
.header-form .header-nav a::before {
  content: attr(title);
  display: block;
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.main__bgr {
  width: 100%;
  max-width: 1920px;
  height: 360px;
  background-image: url(/assets/img/bgr-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__bgr h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
  z-index: 99;
}
.main__bgr .main__bgr-breadcrumb {
  z-index: 99;
  margin-top: 20px;
  gap: 5px;
  align-items: center;
}
.main__bgr .main__bgr-breadcrumb span {
  color: #fff;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 28px;
}
.main__bgr .main__bgr-breadcrumb .link-page {
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 28px;
}

.main__plink {
  margin-top: 50px;
  align-self: center;
}
.main__plink ul {
  gap: 14px;
}
.main__plink ul li {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #ff9f0d;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
  transition: background-color 0.3s;
}
.main__plink ul li:hover {
  color: #fff;
  background-color: #ff9f0d;
}
.main__plink ul a {
  padding: 20px;
}

.footer__home {
  width: 100%;
  background-color: var(--Disable-green, rgba(168, 188, 161, 0.3));
  padding: 120px 200px 188px 200px;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
}

.footer__section {
  justify-content: space-between;
}

.footer__copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #195a00;
}

.footer__newsletter h3 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}
.footer__newsletter span {
  color: #195a00;
  font-family: "Poppins", sans-serif;
  font-size: 2.4erm;
  font-weight: 700;
  line-height: 32px;
}
.footer__newsletter p {
  margin-top: 20px;
  color: #333;
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 26px;
}
.footer__newsletter form {
  margin-top: 20px;
  position: relative;
}
.footer__newsletter input {
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  width: 242px;
  height: 40px;
  border: none;
  outline: none;
}
.footer__newsletter button {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  background: #195a00;
}
.footer__newsletter ul {
  margin-top: 24px;
  gap: 16px;
}

.footer__contact {
  gap: 16px;
  flex-direction: column;
}
.footer__contact h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
}
.footer__contact h3 + div {
  margin-top: 8px;
}
.footer__contact .footer__contact-items {
  align-items: center;
  gap: 8px;
}
.footer__contact .footer__contact-items p {
  color: #333;
  font-family: "Inter";
  font-size: 1.5rem;
  line-height: 26px;
}

.footer__links h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
}
.footer__links ul {
  margin-top: 24px;
  flex-direction: column;
  gap: 16px;
}
.footer__links li {
  color: #333;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}

.footer__instagram h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
}
.footer__instagram .footer__instagram--gallery {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer__copyright {
  padding: 22px 200px;
  justify-content: space-between;
}
.footer__copyright p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
}
.footer__copyright ul {
  gap: 40px;
}
.footer__copyright li {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
}

footer {
  margin-top: 120px;
  background-color: #0d0d0d;
  position: relative;
  padding: 80px 200px 148px 200px;
}

.footer__support-inquiry {
  position: relative;
  justify-content: space-around;
}
.footer__support-inquiry::before {
  position: absolute;
  content: "";
  bottom: -32px;
  height: 1px;
  padding: 0;
  width: 90%;
  background-color: #ff9f0d;
}
.footer__support-inquiry .footer__support--title h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 40px;
}
.footer__support-inquiry .footer__support--title span {
  color: #ff9f0d;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 40px;
}
.footer__support-inquiry .footer__support--title p {
  margin-top: 15px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}
.footer__support-inquiry form {
  position: relative;
  align-items: center;
}
.footer__support-inquiry input {
  width: 400px;
  background-color: #ff9f0d;
  padding: 19px;
  border: none;
  outline: none;
  border-radius: 3px;
}
.footer__support-inquiry input::-moz-placeholder {
  color: #fff;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
  opacity: 0.59;
}
.footer__support-inquiry input::placeholder {
  color: #fff;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
  opacity: 0.59;
}
.footer__support-inquiry button {
  position: absolute;
  right: 0;
  border: none;
  padding: 15px 24px;
  background-color: #fff;
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 3px;
}

.footer__content {
  margin-top: 100px;
  justify-content: space-between;
}

.footer__about-us h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 28px;
}
.footer__about-us p {
  margin-top: 30px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 26px;
}

.footer__opening-hours {
  margin-top: 24px;
  gap: 18px;
}
.footer__opening-hours .footer__opening-hours-info h3 {
  color: #fff;
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 26px;
}
.footer__opening-hours .footer__opening-hours-info div {
  color: #fff;
  font-family: "Inter";
  font-size: 1.4rem;
  line-height: 22px;
}

.footer__useful-links h3,
.footer__help h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 28px;
}
.footer__useful-links ul,
.footer__help ul {
  margin-top: 24px;
  flex-direction: column;
  gap: 16px;
}
.footer__useful-links ul li,
.footer__help ul li {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}

.footer__recent-posts h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 28px;
}
.footer__recent-posts ul {
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}
.footer__recent-posts ul li {
  align-items: center;
  gap: 16px;
}
.footer__recent-posts .recent-post--right p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}
.footer__recent-posts .recent-post--right span {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 22px;
  opacity: 0.49;
}

.footer__bottom {
  padding: 30px 200px;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background: #4f4f4f;
}
.footer__bottom p {
  color: #fff;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.footer__bottom a {
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}
.footer__bottom .footer__social-media {
  gap: 14px;
}

.footer__social-media--list .hover {
  display: none;
}
.footer__social-media--list:hover .integral {
  display: none;
}
.footer__social-media--list:hover .hover {
  display: block;
}

.main__hero {
  padding: 0 200px 140px 200px;
  gap: 190px;
}

.span-form {
  color: #195a00;
  font-family: "Miniver";
  font-size: 18px;
  line-height: 2.6;
  position: relative;
}
.span-form::before {
  content: "";
  bottom: 30%;
  right: -30%;
  position: absolute;
  width: 2.7rem;
  height: 0.1rem;
  border-radius: 6px;
  background: #195a00;
}

.main__hero-left {
  margin-top: 150px;
}
.main__hero-left h1 {
  margin-top: 8px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  word-spacing: 5px;
}
.main__hero-left h1 img {
  position: absolute;
  bottom: -15%;
}
.main__hero-left p {
  margin-top: 32px;
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.main__hero-left .main__button {
  margin-top: 31px;
}

.main__button-show:hover,
.main__button-place:hover {
  background: #fff;
  color: #195a00;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.main__hero-right {
  position: relative;
}
.main__hero-right .picture-main {
  width: 600;
  height: 565px;
}
.main__hero-right .pic-top,
.main__hero-right .pic-mid,
.main__hero-right .pic-bottom {
  position: absolute;
  z-index: -1;
}
.main__hero-right .pic-top {
  top: -5%;
  left: -20%;
}
.main__hero-right .pic-mid {
  bottom: -12%;
  left: -25%;
}
.main__hero-right .pic-bottom {
  bottom: -25%;
  left: 18%;
}

.main__about-us {
  margin-top: 130px;
  padding-left: 200px;
  padding-right: 200px;
  gap: 80px;
}
.main__about-us .about-us--left {
  gap: 20px;
}
.main__about-us .about-us--left .about-us__image--sub {
  margin-top: 35px;
  flex-direction: column;
  gap: 20px;
}
.main__about-us .about-us--right {
  margin-top: 130px;
}
.main__about-us .about-us--right h2 {
  margin-top: 8px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  word-spacing: 3px;
}
.main__about-us .about-us--right p {
  margin-top: 32px;
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.main__about-us .about-us--right span::before {
  content: "";
  bottom: 30%;
  right: -60%;
  position: absolute;
  width: 2.7rem;
  height: 0.1rem;
  border-radius: 6px;
  background: #195a00;
}
.main__about-us .about-us--right button {
  background: #195a00;
  color: #fff;
}
.main__about-us .about-us--right button:hover {
  background: #fff;
  color: #195a00;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.main__about-us .about-us--right .about-us__btn {
  margin-top: 33px;
  align-items: center;
  gap: 16px;
}
.main__about-us .about-us--right .about-us__btn--watch {
  gap: 10px;
  align-items: center;
}
.main__about-us .about-us--right .about-us__btn--watch a {
  color: #333;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4;
}
.main__about-us .about-us--right .about-us__btn--watch img {
  cursor: pointer;
}

.main__food-category {
  margin-top: 160px;
  padding-left: 200px;
  padding-right: 200px;
}
.main__food-category h2 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.main__food-category p {
  margin-top: 15px;
  color: #4f4f4f;
  text-align: center;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 1.2;
}
.main__food-category ul {
  position: relative;
  margin-top: 55px;
  gap: 24px;
}
.main__food-category ul .hover {
  display: none;
}
.main__food-category ul .food-category--right,
.main__food-category ul .food-category--left {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 4px;
  background: rgba(25, 90, 0, 0.3);
}
.main__food-category ul .food-category--left {
  position: absolute;
  top: 33%;
  left: -7%;
}
.main__food-category ul .food-category--left:hover {
  transition: background-color 0.3s ease;
  border-radius: 4px;
  background: #195a00;
}
.main__food-category ul .food-category--left:hover .integral {
  display: none;
}
.main__food-category ul .food-category--left:hover .hover {
  display: block;
}
.main__food-category ul .food-category--right {
  position: absolute;
  top: 33%;
  right: -7%;
}
.main__food-category ul .food-category--right:hover {
  transition: background-color 0.3s ease;
  border-radius: 4px;
  background: #195a00;
}
.main__food-category ul .food-category--right:hover .integral {
  display: none;
}
.main__food-category ul .food-category--right:hover .hover {
  display: block;
}
.main__food-category h3 {
  margin-top: 16px;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.main__food-category span {
  display: flex;
  justify-content: center;
  color: #4f4f4f;
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.main__wcu {
  padding: 0 200px;
  margin-top: 120px;
  gap: 280px;
}
.main__wcu .main__wcu-img {
  position: relative;
}
.main__wcu .main__wcu-img .abso-img {
  position: absolute;
  top: 15%;
  right: -67%;
}
.main__wcu .main__wcu-desc {
  margin-top: 50px;
}
.main__wcu .main__wcu-desc h2 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 5.6rem;
}
.main__wcu .main__wcu-desc p {
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.main__wcu .main__wcu-desc .desc-top {
  margin-top: 20px;
}
.main__wcu .main__wcu-desc .desc-bot {
  margin-top: 8px;
}

.wcu__advantage-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin-top: 20px;
}
.wcu__advantage-list .wcu__advantage-items {
  padding: 5px 20px 0 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
  gap: 20px;
  align-items: center;
}
.wcu__advantage-list .wcu__advantage-items span {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.main__food-menu {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
}
.main__food-menu .main__food-menu--title h2 {
  color: #333;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
}
.main__food-menu .main__food-menu--title p {
  margin-top: 8px;
  color: #4f4f4f;
  text-align: center;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.main__food-menu ul {
  margin-top: 55px;
  gap: 46px;
  justify-content: center;
}
.main__food-menu ul li {
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 28px;
  position: relative;
}
.main__food-menu ul li:hover {
  color: #195a00;
  font-family: "Inter";
}
.main__food-menu ul li::after {
  content: "";
  background: #195a00;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -25px;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.main__food-menu ul li:hover::after {
  width: 100%;
}
.main__food-menu hr {
  margin-top: 24px;
  background: #e0e0e0;
}
.main__food-menu .food-menu__list {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 24px 24px;
}
.main__food-menu button {
  align-self: center;
  margin-top: 50px;
}
.main__food-menu button:hover {
  background-color: #195a00;
  transition: background 0.2s ease-in-out;
  color: #fff;
}

.food-menu__items {
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.food-menu__items .food-menu__items--info h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
}
.food-menu__items .food-menu__items--info h3:hover {
  color: #195a00;
}
.food-menu__items .food-menu__items--info p {
  margin-top: 3px;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  text-align: left;
}
.food-menu__items .food-menu__items--info span {
  margin-top: 3px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
}
.food-menu__items .food-menu__items--price span {
  position: absolute;
  top: 15px;
  right: 0;
  color: var(--Primary-color, #195a00);
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}

.food-menu__items::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #e0e0e0;
  border-bottom: 1px dotted #e0e0e0;
}

.main__team-member {
  position: relative;
  margin-top: 200px;
  flex-direction: column;
}
.main__team-member .team-member__bgr {
  position: relative;
}
.main__team-member .team-member__bgr img {
  width: 100%;
  height: 400px;
}
.main__team-member .team-member__bgr .img-abs {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}
.main__team-member .team-member__title {
  position: absolute;
  top: 100px;
  text-align: center;
  z-index: 999;
  align-self: center;
}
.main__team-member .team-member__title h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 56px;
}
.main__team-member .team-member__title p {
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.main__team-member .team-member__list {
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}
.main__team-member .team-member__list ul {
  position: absolute;
  bottom: -55%;
  gap: 35px;
  text-align: center;
  z-index: 1000;
}
.main__team-member .team-member__list ul li {
  background: #fff;
  box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
  padding-bottom: 16px;
}
.main__team-member .team-member__list ul h3 {
  margin-top: 10px;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
}
.main__team-member .team-member__list ul span {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}

.main__testimonials {
  width: 100%;
  gap: 70px;
  margin-top: 350px;
  padding-left: 200px;
  padding-right: 200px;
}
.main__testimonials span::before {
  content: "";
  bottom: 30%;
  right: -40%;
}
.main__testimonials h2 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 56px;
}
.main__testimonials p {
  margin-top: 10px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 20px;
}

.testimonials__customer-info {
  margin-top: 40px;
  gap: 16px;
  align-items: center;
}
.testimonials__customer-info h3 {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 26px;
}
.testimonials__customer-info span {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}

.testimonials__customer-form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.testimonials__customer--vector-left .hover,
.testimonials__customer--vector-right .hover {
  display: none;
}

.testimonials__customer--vector-left:hover .integral,
.testimonials__customer--vector-right:hover .integral {
  display: none;
}
.testimonials__customer--vector-left:hover .hover,
.testimonials__customer--vector-right:hover .hover {
  display: block;
}

.main__testimonials-right {
  position: relative;
}

.testimonials__order-now {
  position: absolute;
  bottom: -8%;
  left: -5%;
  width: 410px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
.testimonials__order-now .testimonials__price {
  justify-content: space-between;
}
.testimonials__order-now .testimonials__price h3 {
  color: #333;
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
}
.testimonials__order-now .testimonials__price span {
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
}
.testimonials__order-now p {
  color: #828282;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}

.main__blog {
  margin-top: 144px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}
.main__blog h2 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
}
.main__blog p {
  margin-top: 8px;
  color: #4f4f4f;
  text-align: center;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.main__blog ul {
  margin-top: 55px;
  gap: 24px;
}
.main__blog li {
  box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
  padding: 0 16px 25px 16px;
}
.main__blog li .blog__meta {
  gap: 16px;
  margin-top: 20px;
}
.main__blog li .blog__meta .blog__meta--date {
  align-items: center;
  gap: 8px;
}
.main__blog li .blog__meta .blog__meta--date span {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
  opacity: 0.6;
}
.main__blog li .blog__meta .blog__meta--comments {
  align-items: center;
  gap: 8px;
}
.main__blog li .blog__meta .blog__meta--comments span {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
  opacity: 0.6;
}
.main__blog li h3 {
  margin-top: 12px;
  text-align: left;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 28px;
}
.main__blog li p {
  width: 100%;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: left;
}
.main__blog li .blog__read-more {
  margin-top: 16px;
  gap: 8px;
  align-items: center;
}
.main__blog li .blog__read-more span {
  color: #4f4f4f;
  font-family: Helvetica;
  font-size: 1.4rem;
  line-height: 22px;
}

.main__c-a-p {
  margin-top: 140px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
.main__c-a-p span {
  color: #195a00;
  font-family: "Miniver";
  font-size: 1.8rem;
  line-height: 26px;
}
.main__c-a-p h2 {
  margin-top: 5px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
}
.main__c-a-p ul {
  margin-top: 55px;
  gap: 30px;
}

.main__about-container {
  width: 100%;
  max-width: 1920px;
  height: 360px;
  background-image: url(/assets/img/bgr-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__about-container h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
  z-index: 99;
}
.main__about-container .main__about-breadcrumb {
  z-index: 99;
  margin-top: 20px;
  gap: 5px;
  align-items: center;
}
.main__about-container .main__about-breadcrumb span {
  color: #fff;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 28px;
}
.main__about-container .main__about-breadcrumb .link-page {
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 28px;
}

.main__about {
  margin-top: 130px;
  padding-left: 200px;
  padding-right: 200px;
  gap: 80px;
}
.main__about .main__about--left {
  gap: 20px;
}
.main__about .main__about--left .about__image--sub {
  margin-top: 35px;
  flex-direction: column;
  gap: 20px;
}
.main__about .main__about--right {
  margin-top: 130px;
}
.main__about .main__about--right h2 {
  margin-top: 8px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  word-spacing: 3px;
}
.main__about .main__about--right p {
  margin-top: 32px;
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.main__about .main__about--right span::before {
  content: "";
  bottom: 30%;
  right: -60%;
  position: absolute;
  width: 2.7rem;
  height: 0.1rem;
  border-radius: 6px;
  background: #195a00;
}
.main__about .main__about--right button {
  background: #ff9f0d;
  color: #fff;
  border: none;
}
.main__about .main__about--right button:hover {
  background: #fff;
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.main__about .main__about--right .about__btn {
  margin-top: 33px;
  align-items: center;
  gap: 16px;
}
.main__about .main__about--right .about__btn--watch {
  gap: 10px;
  align-items: center;
}
.main__about .main__about--right .about__btn--watch a {
  color: #333;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4;
}
.main__about .main__about--right .about__btn--watch img {
  cursor: pointer;
}

.main__why-choose-us {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 120px;
}
.main__why-choose-us h2 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
}
.main__why-choose-us p {
  margin-top: 8px;
  color: #4f4f4f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}
.main__why-choose-us .why-choose-us-img {
  margin-top: 55px;
  width: 100%;
}
.main__why-choose-us ul {
  margin-top: 60px;
  gap: 120px;
}
.main__why-choose-us ul li {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__why-choose-us ul h3 {
  margin-top: 24px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}
.main__why-choose-us ul p {
  margin-top: 16px;
}

.main__team-member {
  position: relative;
  margin-top: 200px;
  flex-direction: column;
}
.main__team-member .team-member__bgr {
  position: relative;
}
.main__team-member .team-member__bgr img {
  width: 100%;
  height: 400px;
}
.main__team-member .team-member__bgr .img-abs {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}
.main__team-member .team-member__title {
  position: absolute;
  top: 100px;
  text-align: center;
  z-index: 999;
  align-self: center;
}
.main__team-member .team-member__title h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 56px;
}
.main__team-member .team-member__title p {
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.main__team-member .team-member__list {
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}
.main__team-member .team-member__list ul {
  position: absolute;
  bottom: -55%;
  gap: 35px;
  text-align: center;
  z-index: 1000;
}
.main__team-member .team-member__list ul li {
  background: #fff;
  box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
  padding-bottom: 16px;
}
.main__team-member .team-member__list ul h3 {
  margin-top: 10px;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
}
.main__team-member .team-member__list ul span {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}

.main__about-testimonials {
  margin-top: 350px;
  padding-left: 200px;
  padding-right: 200px;
  flex-direction: column;
}
.main__about-testimonials .span-about-testimonials {
  color: #ff9f0d;
  font-family: "Miniver";
  font-size: 2.2rem;
}
.main__about-testimonials h2 {
  margin-top: 8px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 56px;
}
.main__about-testimonials .about-testimonials--content {
  position: relative;
  margin-top: 120px;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 80px 80px 30px 80px;
  background: #fff;
  box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
}
.main__about-testimonials .about-testimonials--content .ava-testimonials {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__about-testimonials .about-testimonials--content p {
  margin-top: 30px;
  width: 100%;
  padding: 0;
  color: #4f4f4f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 20px;
}
.main__about-testimonials .about-testimonials--content .star-testimonials {
  margin-top: 25px;
}
.main__about-testimonials .about-testimonials--content h3 {
  margin-top: 16px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
}
.main__about-testimonials .about-testimonials--content span {
  margin-top: 8px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}
.main__about-testimonials .about-testimonials--content .dotted-testimonials {
  position: absolute;
  bottom: -50px;
}

.main__about-food-menu {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.main__about-food-menu .main-food-menu--title h2 {
  color: #333;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
}
.main__about-food-menu .main-food-menu--title p {
  margin-top: 8px;
  color: #4f4f4f;
  text-align: center;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.main__about-food-menu ul {
  margin-top: 55px;
  gap: 46px;
  justify-content: center;
}
.main__about-food-menu ul li {
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 28px;
  position: relative;
}
.main__about-food-menu ul li:hover {
  color: #ff9f0d;
}
.main__about-food-menu ul li::after {
  content: "";
  background: #ff9f0d;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -25px;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.main__about-food-menu ul li:hover::after {
  width: 100%;
}
.main__about-food-menu hr {
  margin-top: 24px;
  background: #e0e0e0;
}
.main__about-food-menu .main-food-menu__list {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 24px 24px;
}
.main__about-food-menu button {
  align-self: center;
  margin-top: 50px;
}
.main__about-food-menu button:hover {
  background-color: #ff9f0d;
  transition: background 0.2s ease-in-out;
  color: #fff;
}

.main-food-menu__items {
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.main-food-menu__items .main-food-menu__items--info h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
}
.main-food-menu__items .main-food-menu__items--info h3:hover {
  color: #ff9f0d;
}
.main-food-menu__items .main-food-menu__items--info p {
  margin-top: 3px;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  text-align: left;
}
.main-food-menu__items .main-food-menu__items--info span {
  margin-top: 3px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
}
.main-food-menu__items .main-food-menu__items--price span {
  position: absolute;
  top: 15px;
  right: 0;
  color: #ff9f0d;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}

.main-food-menu__items::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #e0e0e0;
  border-bottom: 1px dotted #e0e0e0;
}

.main__blog-content {
  gap: 24px;
  margin-top: 120px;
  padding-left: 200px;
  padding-right: 200px;
}
.main__blog-content .main__blog-list {
  width: 65%;
  flex-direction: column;
  gap: 55px;
}
.main__blog-content .main__blog-items {
  position: relative;
}
.main__blog-content .main__blog-items .main__blog-meta {
  margin-top: 16px;
  align-items: center;
  gap: 7px;
}
.main__blog-content .main__blog-items .main__blog-meta span {
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.3rem;
  line-height: 24px;
}
.main__blog-content .main__blog-items h3 {
  position: relative;
  margin-top: 16px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 32px;
}
.main__blog-content .main__blog-items h3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -20px;
  background-color: #828282;
  opacity: 0.17;
  width: 694.031px;
  height: 1px;
}
.main__blog-content .main__blog-items p {
  margin-top: 40px;
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.main__blog-content .main__blog-items button {
  margin-top: 24px;
  border-radius: 6px;
  border: 1px solid #ff9f0d;
  background-color: #fff;
  color: #ff9f0d;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 32px;
}
.main__blog-content .main__blog-items button:hover {
  background-color: #bdbdbd;
  transition: background 0.2s ease-in-out;
  color: #fff;
}
.main__blog-content .main__blog-items .main__blog-img {
  width: 100%;
}
.main__blog-content .main__blog-items .blog__calender--abso {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  background: #ff9f0d;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
}
.main__blog-content .main__blog-items .blog__calender--abso .calendar-abso {
  color: #fff;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 700;
}
.main__blog-content .main__blog-items .blog__calender--abso .month {
  color: #fff;
  font-family: "Inter";
  font-size: 1.4rem;
}

.aside__blog {
  width: 35%;
  position: relative;
}
.aside__blog input {
  width: 100%;
  background-color: #fff;
  padding: 19px;
  border: none;
  outline: none;
  border: 2px solid rgba(190, 190, 190, 0.4980392157);
}
.aside__blog input::-moz-placeholder {
  color: #bdbdbd;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.aside__blog input::placeholder {
  color: #bdbdbd;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}
.aside__blog button {
  position: absolute;
  right: 0;
  border: none;
  width: 66px;
  height: 57px;
  background-color: #ff9f0d;
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.aside__blogger-info {
  margin-top: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 2px solid rgba(190, 190, 190, 0.4980392157);
}
.aside__blogger-info .ava_blogger {
  border-radius: 50%;
}
.aside__blogger-info h3 {
  margin-top: 10px;
  color: #333;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}
.aside__blogger-info span {
  color: #828282;
  text-align: center;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.aside__blogger-info .aside__blogger-review {
  margin-top: 10px;
}
.aside__blogger-info .aside__blogger-review span {
  color: #828282;
  font-family: "Inter";
  font-size: 1.4rem;
  line-height: 22px;
}
.aside__blogger-info p {
  margin-top: 8px;
  color: #828282;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
}
.aside__blogger-info ul {
  margin-top: 20px;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.aside__recent-post {
  padding: 30px;
  border: 2px solid rgba(190, 190, 190, 0.4980392157);
  margin-top: 24px;
}
.aside__recent-post h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.aside__recent-post ul {
  flex-direction: column;
  margin-top: 24px;
  gap: 30px;
}
.aside__recent-post ul li {
  position: relative;
  gap: 16px;
}
.aside__recent-post ul li::after {
  position: absolute;
  bottom: -16px;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.17;
  background-color: #828282;
}
.aside__recent-post ul .recent-post--right span {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 22px;
}
.aside__recent-post ul .recent-post--right p {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}

.aside__f-b-m {
  padding: 30px;
  border: 2px solid rgba(190, 190, 190, 0.4980392157);
  margin-top: 24px;
}
.aside__f-b-m h3 {
  color: #333;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}
.aside__f-b-m ul {
  flex-direction: column;
  margin-top: 30px;
  gap: 16px;
}
.aside__f-b-m li {
  gap: 16px;
  align-items: center;
}
.aside__f-b-m .recent-post--right {
  width: 100%;
  justify-content: space-between;
}
.aside__f-b-m .recent-post--right a {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
}
.aside__f-b-m .recent-post--right span {
  color: #333;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}

.aside__popular-tags {
  padding: 30px;
  border: 2px solid rgba(190, 190, 190, 0.4980392157);
  margin-top: 24px;
}
.aside__popular-tags h3 {
  color: #333;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}
.aside__popular-tags .popular-tags__content {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 12px 12px;
}
.aside__popular-tags .popular-tags__content .popular-tags__items {
  background-color: #fff;
  border: 1px solid rgba(190, 190, 190, 0.4980392157);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 22px;
  text-align: center;
}
.aside__popular-tags .popular-tags__content .grid-2-col {
  grid-column: 2/4;
}

.aside__photo-gallery {
  padding: 30px;
  border: 2px solid rgba(190, 190, 190, 0.4980392157);
  margin-top: 24px;
}
.aside__photo-gallery .photo-gallery__img {
  display: grid;
  margin-top: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 7px 7px;
}
.aside__photo-gallery h3 {
  color: #333;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}

.aside__follow-us {
  padding: 30px;
  border: 2px solid rgba(190, 190, 190, 0.4980392157);
  margin-top: 24px;
}
.aside__follow-us h3 {
  color: #333;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}
.aside__follow-us .aside__follow-us--social {
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}
.aside__follow-us .aside__follow-us--social a {
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  background-color: #faf7f2;
  transition: background-color 0.3s;
}
.aside__follow-us .aside__follow-us--social .hover {
  display: none;
}
.aside__follow-us .aside__follow-us--social .follow-us__social--items:hover .integral {
  display: none;
}
.aside__follow-us .aside__follow-us--social .follow-us__social--items:hover .hover {
  display: block;
}

.main__menu-starter,
.main__main-course,
.main__desert,
.main__drinks {
  padding-left: 200px;
  padding-right: 200px;
  gap: 100px;
  margin-top: 120px;
}
.main__menu-starter .menu-starter__content,
.main__menu-starter .main-course__content,
.main__menu-starter .desert__content,
.main__menu-starter .drinks__content,
.main__main-course .menu-starter__content,
.main__main-course .main-course__content,
.main__main-course .desert__content,
.main__main-course .drinks__content,
.main__desert .menu-starter__content,
.main__desert .main-course__content,
.main__desert .desert__content,
.main__desert .drinks__content,
.main__drinks .menu-starter__content,
.main__drinks .main-course__content,
.main__drinks .desert__content,
.main__drinks .drinks__content {
  width: 100%;
  max-width: 1000px;
}
.main__menu-starter .menu-starter__content h2,
.main__menu-starter .main-course__content h2,
.main__menu-starter .desert__content h2,
.main__menu-starter .drinks__content h2,
.main__main-course .menu-starter__content h2,
.main__main-course .main-course__content h2,
.main__main-course .desert__content h2,
.main__main-course .drinks__content h2,
.main__desert .menu-starter__content h2,
.main__desert .main-course__content h2,
.main__desert .desert__content h2,
.main__desert .drinks__content h2,
.main__drinks .menu-starter__content h2,
.main__drinks .main-course__content h2,
.main__drinks .desert__content h2,
.main__drinks .drinks__content h2 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
}

.menu-starter__list,
.main-course__list,
.desert__list,
.drinks__list {
  margin-top: 24px;
  gap: 24px;
  flex-direction: column;
}

.menu-starter__items,
.main-course__items,
.desert__items,
.drinks__items {
  position: relative;
  justify-content: space-between;
}
.menu-starter__items .menu-starter__items--info,
.menu-starter__items .main-course__items--info,
.menu-starter__items .desert__items--info,
.menu-starter__items .drinks__items--info,
.main-course__items .menu-starter__items--info,
.main-course__items .main-course__items--info,
.main-course__items .desert__items--info,
.main-course__items .drinks__items--info,
.desert__items .menu-starter__items--info,
.desert__items .main-course__items--info,
.desert__items .desert__items--info,
.desert__items .drinks__items--info,
.drinks__items .menu-starter__items--info,
.drinks__items .main-course__items--info,
.drinks__items .desert__items--info,
.drinks__items .drinks__items--info {
  gap: 8px;
  flex-direction: column;
}
.menu-starter__items .menu-starter__items--info h3,
.menu-starter__items .main-course__items--info h3,
.menu-starter__items .desert__items--info h3,
.menu-starter__items .drinks__items--info h3,
.main-course__items .menu-starter__items--info h3,
.main-course__items .main-course__items--info h3,
.main-course__items .desert__items--info h3,
.main-course__items .drinks__items--info h3,
.desert__items .menu-starter__items--info h3,
.desert__items .main-course__items--info h3,
.desert__items .desert__items--info h3,
.desert__items .drinks__items--info h3,
.drinks__items .menu-starter__items--info h3,
.drinks__items .main-course__items--info h3,
.drinks__items .desert__items--info h3,
.drinks__items .drinks__items--info h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
}
.menu-starter__items .menu-starter__items--info p,
.menu-starter__items .main-course__items--info p,
.menu-starter__items .desert__items--info p,
.menu-starter__items .drinks__items--info p,
.main-course__items .menu-starter__items--info p,
.main-course__items .main-course__items--info p,
.main-course__items .desert__items--info p,
.main-course__items .drinks__items--info p,
.desert__items .menu-starter__items--info p,
.desert__items .main-course__items--info p,
.desert__items .desert__items--info p,
.desert__items .drinks__items--info p,
.drinks__items .menu-starter__items--info p,
.drinks__items .main-course__items--info p,
.drinks__items .desert__items--info p,
.drinks__items .drinks__items--info p {
  margin-top: 3px;
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  text-align: left;
}
.menu-starter__items .menu-starter__items--info span,
.menu-starter__items .main-course__items--info span,
.menu-starter__items .desert__items--info span,
.menu-starter__items .drinks__items--info span,
.main-course__items .menu-starter__items--info span,
.main-course__items .main-course__items--info span,
.main-course__items .desert__items--info span,
.main-course__items .drinks__items--info span,
.desert__items .menu-starter__items--info span,
.desert__items .main-course__items--info span,
.desert__items .desert__items--info span,
.desert__items .drinks__items--info span,
.drinks__items .menu-starter__items--info span,
.drinks__items .main-course__items--info span,
.drinks__items .desert__items--info span,
.drinks__items .drinks__items--info span {
  margin-top: 3px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
}
.menu-starter__items .menu-starter__items--price span,
.menu-starter__items .main-course__items--price span,
.menu-starter__items .desert__items--price span,
.menu-starter__items .drinks__items--price span,
.main-course__items .menu-starter__items--price span,
.main-course__items .main-course__items--price span,
.main-course__items .desert__items--price span,
.main-course__items .drinks__items--price span,
.desert__items .menu-starter__items--price span,
.desert__items .main-course__items--price span,
.desert__items .desert__items--price span,
.desert__items .drinks__items--price span,
.drinks__items .menu-starter__items--price span,
.drinks__items .main-course__items--price span,
.drinks__items .desert__items--price span,
.drinks__items .drinks__items--price span {
  color: #ff9f0d;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}

.menu-starter__items::after,
.main-course__items::after,
.desert__items::after,
.drinks__items::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -10px;
  background: #e0e0e0;
  border-bottom: 1px dotted #e0e0e0;
}

.menu-starter__items--info h3:hover,
.main-course__items--info h3:hover,
.desert__items--info h3:hover,
.drinks__items--info h3:hover {
  color: #ff9f0d;
}

.main__main-course,
.main__drinks {
  flex-direction: row-reverse;
}

.main__client-and-customer {
  position: relative;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}
.main__client-and-customer .client-and-customer__bgr {
  position: relative;
}
.main__client-and-customer .client-and-customer__bgr img {
  width: 100%;
  height: 400px;
}
.main__client-and-customer .client-and-customer__bgr .client-and-customer__bgr-sub {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}
.main__client-and-customer ul {
  gap: 100px;
  position: absolute;
  z-index: 99;
  text-align: center;
}
.main__client-and-customer ul li h3 {
  margin-top: 40px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 48px;
}
.main__client-and-customer ul li h4 {
  margin-top: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
}

.main__shop {
  width: 100%;
  max-width: 1920px;
  height: 360px;
  background-image: url(/assets/img/bgr-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__shop h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
  z-index: 99;
}
.main__shop .main__shop-breadcrumb {
  z-index: 99;
  margin-top: 20px;
  gap: 5px;
  align-items: center;
}
.main__shop .main__shop-breadcrumb span {
  color: #fff;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 28px;
}
.main__shop .main__shop-breadcrumb .link-page {
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 28px;
}

.main__shop-container {
  margin-top: 120px;
  padding-left: 200px;
  padding-right: 200px;
  gap: 24px;
}

.shop__filter {
  gap: 30px;
}
.shop__filter label {
  color: #333;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 28px;
}
.shop__filter select {
  width: 200px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid rgba(190, 190, 190, 0.4980392157);
  color: #828282;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 26px;
  outline: none;
}

.main__shop-list-link {
  flex-direction: column;
}

.main__shop-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 24px;
  gap: 22px 22px;
}

.main__shop-items {
  flex-direction: column;
  gap: 4px;
}
.main__shop-items h3 {
  margin-top: 8px;
  color: #333;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 600;
}
.main__shop-items span {
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 1.4rem;
  line-height: 24px;
}
.main__shop-items .list-price {
  color: #828282;
  font-family: "Inter";
}

.shop__item-price {
  gap: 8px;
}

.main__shop-p {
  margin-top: 50px;
  align-self: center;
}
.main__shop-p ul {
  gap: 14px;
}
.main__shop-p ul li {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #ff9f0d;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
  transition: background-color 0.3s;
}
.main__shop-p ul li:hover {
  color: #fff;
  background-color: #ff9f0d;
}
.main__shop-p ul a {
  padding: 20px;
}

.main__shop-content {
  gap: 24px;
}

.aside__shop {
  height: 100%;
  margin-top: 24px;
  padding: 24px 30px;
  border-radius: 6px;
  border: 1px solid #f2f2f2;
}
.aside__shop form input {
  padding: 15px;
  background: rgba(255, 159, 13, 0.1);
  border: none;
  outline: none;
}
.aside__shop form button {
  width: 50px;
  height: 48px;
  background-color: #ff9f0d;
}
.aside__shop h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}

.aside__checkbox {
  gap: 16px;
  flex-direction: column;
  margin-top: 24px;
}

.aside__checkbox-item {
  align-items: center;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.aside__checkbox-item input {
  padding: 0;
}

.aside__checkbox-item input {
  margin-right: 10px;
  display: inline;
}

.aside__shop-banner {
  margin-top: 24px;
}

.aside__shop-banner {
  position: relative;
}
.aside__shop-banner .shop__banner-title {
  flex-direction: column;
  height: 100px;
  position: absolute;
  top: 29px;
  left: 23px;
  z-index: 99;
  height: 2px;
  gap: 10px;
}
.aside__shop-banner .shop__banner-title h3 {
  margin: 0;
  color: #fff;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
}
.aside__shop-banner .shop__banner-title h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}
.aside__shop-banner .shop__banner-title span {
  color: #ff9f0d;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 24px;
}
.aside__shop-banner .shop__banner-shop-now {
  position: absolute;
  bottom: 31px;
  left: 23px;
  align-items: center;
  gap: 8px;
}
.aside__shop-banner .shop__banner-shop-now span {
  color: #fff;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
}

.aside__f-b-p {
  margin-top: 24px;
}
.aside__f-b-p h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}
.aside__f-b-p .f-b-p__filter {
  margin-top: 8px;
}
.aside__f-b-p .f-b-p__filter span {
  color: #0d0d0d;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 24px;
  opacity: 0.61;
}

.aside__last-products {
  margin-top: 24px;
}
.aside__last-products h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 28px;
}
.aside__last-products ul {
  margin-top: 24px;
  flex-direction: column;
  gap: 16px;
}
.aside__last-products li {
  gap: 16px;
}

.last-product__info {
  flex-direction: column;
  justify-content: space-between;
}
.last-product__info span {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 24px;
}

.aside__product-tags {
  margin-top: 24px;
}
.aside__product-tags .product-tags__list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 18px 16px;
  text-align: center;
}
.aside__product-tags .product-tags__list .product-tags__item a {
  color: #4f4f4f;
  font-family: "Inter";
  font-size: 1.4rem;
  line-height: 24px;
  position: relative;
  width: 100%;
}
.aside__product-tags .product-tags__list .product-tags__item a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  transform: translate(0, -50%);
  background: #f2f2f2;
  bottom: -5px;
  left: 0;
}
.aside__product-tags .product-tags__list .col-2 {
  grid-column: 2/4;
}/*# sourceMappingURL=main.css.map */