// ------------Menu Header---------

.menu__header {
  width: 100%;
  max-width: 1920px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 30px 200px;
  background-color: #fff;
  z-index: 99;
  background: #0d0d0d;
  // gap: 94px;
  // .header__bgr {
  // }
  .logo {
    color: $page-color;
    font-family: $font-main;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 32px;
    span {
      color: $logo-sub-color;
      font-family: $font-main;
    }
  }
  .menu__header-icon {
    z-index: 99;
    gap: 16px;
    .icon-form {
      font-size: 16px;
    }
  }
  .menu__header-nav {
    gap: 32px;
    a {
      // padding: 8px 10px;
      color: #fff;
      display: inline-block;
      font-family: $font-sub;
      font-size: 1.6em;
      line-height: 2.4;
      position: relative;
      text-align: center;
      &:hover {
        font-weight: 700;
        color: $logo-sub-color;
      }
      &::before {
        content: attr(title);
        display: block;
        font-weight: 700;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
}

// -----------Main menu----------
.main__menu-our {
  width: 100%;
  max-width: 1920px;
  height: 360px;
  background-image: url(/assets/img/bgr-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: $page-color;
    font-family: $font-main;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 56px;
    z-index: 99;
  }
  .main__menu-breadcrumb {
    z-index: 99;
    margin-top: 20px;
    gap: 5px;
    align-items: center;
    span {
      color: $page-color;
      font-family: $font-sub;
      font-size: 2rem;
      line-height: 28px;
    }
    .link-page {
      color: $logo-sub-color;
      font-family: $font-sub;
      font-size: 2rem;
      line-height: 28px;
    }
  }
}

// ---------Main starter-------------
.main__menu-starter,
.main__main-course,
.main__desert,
.main__drinks {
  padding-left: 200px;
  padding-right: 200px;
  gap: 100px;
  margin-top: 120px;
  .menu-starter__content,
  .main-course__content,
  .desert__content,
  .drinks__content {
    width: 100%;
    max-width: 1000px;
    h2 {
      color: $title-color;
      font-family: $font-main;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 56px;
    }
  }
}
.menu-starter__list,
.main-course__list,
.desert__list,
.drinks__list {
  margin-top: 24px;
  gap: 24px;
  flex-direction: column;
}
.menu-starter__items,
.main-course__items,
.desert__items,
.drinks__items {
  position: relative;
  justify-content: space-between;

  .menu-starter__items--info,
  .main-course__items--info,
  .desert__items--info,
  .drinks__items--info {
    gap: 8px;
    flex-direction: column;

    h3 {
      color: $title-color;
      font-family: $font-main;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 32px;
    }
    p {
      margin-top: 3px;
      color: $desc-color;
      font-family: $font-main;
      font-size: 1.4rem;
      text-align: left;
    }
    span {
      margin-top: 3px;
      color: #828282;
      font-family: $font-main;
      font-size: 1.3rem;
      line-height: 24px;
    }
  }

  .menu-starter__items--price,
  .main-course__items--price,
  .desert__items--price,
  .drinks__items--price {
    span {
      color: $logo-sub-color;
      font-family: $font-main;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 32px;
    }
  }
}
.menu-starter__items::after,
.main-course__items::after,
.desert__items::after,
.drinks__items::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -10px;
  background: #e0e0e0;
  border-bottom: 1px dotted #e0e0e0;
}

.menu-starter__items--info,
.main-course__items--info,
.desert__items--info,
.drinks__items--info {
  h3:hover {
    color: $logo-sub-color;
  }
}
// <!-- -----------Main main course ---------------->
.main__main-course,
.main__drinks {
  flex-direction: row-reverse;
  // margin-top: 120px;
}

// <!-- -----------Main c-a-c ---------------->

.main__client-and-customer {
  position: relative;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  .client-and-customer__bgr {
    position: relative;
    img {
      width: 100%;
      height: 400px;
    }
    .client-and-customer__bgr-sub {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 99;
    }
  }
  ul {
    gap: 100px;
    position: absolute;
    z-index: 99;
    text-align: center;
    li {
      h3 {
        margin-top: 40px;
        color: $page-color;
        font-family: $font-main;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 48px;
      }
      h4 {
        margin-top: 10px;
        color: $page-color;
        font-family: $font-main;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 32px;
      }
    }
  }
}

// ---------footer menu---------
footer {
  margin-top: 120px;
  background-color: #0d0d0d;
  position: relative;
  padding: 80px 200px 148px 200px;
}
.footer__support-inquiry {
  position: relative;

  justify-content: space-around;
  &::before {
    position: absolute;
    content: "";
    bottom: -32px;
    height: 1px;
    padding: 0;
    width: 90%;
    background-color: $logo-sub-color;
  }
  .footer__support--title {
    h2 {
      color: $page-color;
      font-family: $font-main;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 40px;
    }
    span {
      color: $logo-sub-color;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 40px;
    }
    p {
      margin-top: 15px;
      color: $page-color;
      font-family: $font-main;
      font-size: 1.6rem;
      line-height: 24px;
    }
  }
  form {
    position: relative;
    align-items: center;
  }
  input {
    width: 400px;
    background-color: $logo-sub-color;
    padding: 19px;
    border: none;
    outline: none;

    border-radius: 3px;
    &::placeholder {
      color: $page-color;
      font-family: $font-sub;
      font-size: 1.6rem;
      line-height: 24px;
      opacity: 0.59;
    }
  }
  button {
    position: absolute;
    right: 0;
    border: none;
    padding: 15px 24px;
    background-color: $page-color;
    color: $logo-sub-color;
    font-family: $font-sub;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 3px;
  }
}
.footer__content {
  margin-top: 100px;
  justify-content: space-between;
}
.footer__about-us {
  h3 {
    color: $page-color;
    font-family: $font-main;
    font-size: 2rem;
    font-weight: 600;
    line-height: 28px;
  }
  p {
    margin-top: 30px;
    color: $page-color;
    font-family: $font-main;
    font-size: 1.8rem;
    line-height: 26px;
  }
}
.footer__opening-hours {
  margin-top: 24px;
  gap: 18px;
  .footer__opening-hours-info {
    h3 {
      color: $page-color;
      font-family: $font-sub;
      font-size: 1.8rem;
      line-height: 26px;
    }
    div {
      color: $page-color;
      font-family: $font-sub;
      font-size: 1.4rem;
      line-height: 22px;
    }
  }
}
.footer__useful-links,
.footer__help {
  h3 {
    color: $page-color;
    font-family: $font-main;
    font-size: 2rem;
    font-weight: 600;
    line-height: 28px;
  }
  ul {
    margin-top: 24px;
    flex-direction: column;
    gap: 16px;
    li {
      color: #fff;
      font-family: $font-main;
      font-size: 1.6rem;
      line-height: 24px;
    }
  }
}
.footer__recent-posts {
  h3 {
    color: $page-color;
    font-family: $font-main;
    font-size: 2rem;
    font-weight: 600;
    line-height: 28px;
  }
  ul {
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
    li {
      align-items: center;
      gap: 16px;
    }
  }
  .recent-post--right {
    p {
      color: $page-color;
      font-family: $font-main;
      font-size: 1.6rem;
      line-height: 24px;
    }
    span {
      color: $page-color;
      font-family: $font-main;
      font-size: 1.4rem;
      line-height: 22px;
      opacity: 0.49;
    }
  }
}

.footer__bottom {
  padding: 30px 200px;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background: $desc-color;
  p {
    color: $page-color;
    font-family: $font-sub;
    font-size: 1.6rem;
    line-height: 24px;
  }
  a {
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
  }

  .footer__social-media {
    gap: 14px;
  }
}
.footer__social-media--list {
  .hover {
    display: none;
  }
  &:hover {
    .integral {
      display: none;
    }
    .hover {
      display: block;
    }
  }
}
