// ---------Main starter-------------
.main__menu-starter,
.main__main-course,
.main__desert,
.main__drinks {
  padding-left: 200px;
  padding-right: 200px;
  gap: 100px;
  margin-top: 120px;
  .menu-starter__content,
  .main-course__content,
  .desert__content,
  .drinks__content {
    width: 100%;
    max-width: 1000px;
    h2 {
      color: $title-color;
      font-family: $font-main;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 56px;
    }
  }
}
.menu-starter__list,
.main-course__list,
.desert__list,
.drinks__list {
  margin-top: 24px;
  gap: 24px;
  flex-direction: column;
}
.menu-starter__items,
.main-course__items,
.desert__items,
.drinks__items {
  position: relative;
  justify-content: space-between;

  .menu-starter__items--info,
  .main-course__items--info,
  .desert__items--info,
  .drinks__items--info {
    gap: 8px;
    flex-direction: column;

    h3 {
      color: $title-color;
      font-family: $font-main;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 32px;
    }
    p {
      margin-top: 3px;
      color: $desc-color;
      font-family: $font-main;
      font-size: 1.4rem;
      text-align: left;
    }
    span {
      margin-top: 3px;
      color: #828282;
      font-family: $font-main;
      font-size: 1.3rem;
      line-height: 24px;
    }
  }

  .menu-starter__items--price,
  .main-course__items--price,
  .desert__items--price,
  .drinks__items--price {
    span {
      color: $logo-sub-color;
      font-family: $font-main;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 32px;
    }
  }
}
.menu-starter__items::after,
.main-course__items::after,
.desert__items::after,
.drinks__items::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -10px;
  background: $after-color;
  border-bottom: 1px dotted $after-color;
}

.menu-starter__items--info,
.main-course__items--info,
.desert__items--info,
.drinks__items--info {
  h3:hover {
    color: $logo-sub-color;
  }
}
// <!-- -----------Main main course ---------------->
.main__main-course,
.main__drinks {
  flex-direction: row-reverse;
  // margin-top: 120px;
}

// <!-- -----------Main c-a-c ---------------->

.main__client-and-customer {
  position: relative;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  .client-and-customer__bgr {
    position: relative;
    img {
      width: 100%;
      height: 400px;
    }
    .client-and-customer__bgr-sub {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 99;
    }
  }
  ul {
    gap: 100px;
    position: absolute;
    z-index: 99;
    text-align: center;
    li {
      h3 {
        margin-top: 40px;
        color: $page-color;
        font-family: $font-main;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 48px;
      }
      h4 {
        margin-top: 10px;
        color: $page-color;
        font-family: $font-main;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 32px;
      }
    }
  }
}
